body {
    font-family: sans-serif;
    margin: 0;
    background-image: url('../assets/fondoS.jpg');
    background-size: cover;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 90px);
}

/* Título y selector */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.agendar-btn {
    font-weight: bold;
    padding: 12px 25px;
    background-color: #3d3d3d40;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.agendar-btn:hover {
    background-color: #4b4b4b60;  
    border-color: #8f8e8e;        
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%) scale(1.05);
}


.header h1 {
    font-size: 45px;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4b4b4b30;
    color: #000000;
    padding: 15px 50px 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px;
    transition: background-color 0.3s ease;
}

.header select:hover {
    background-color: #4b4b4b60;  
    border-color: #8f8e8e;        
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%) scale(1.05);
}

.contenedor-citas {
    font-weight: bold;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
    padding-left: 100px;
    background-color: #4b4b4b30;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 30px;
    width: 60vw;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-cita {
    font-weight: bold;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    padding-left: 10px;
    background-color: #3d3d3d40;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 30px;
    width: 70vw;
    max-width: 230px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* transición suave */
    cursor: pointer;
}

.btn-cita:hover {
    background-color: #4b4b4b60;  /* un poco más oscuro */
    border-color: #8f8e8e;        /* borde resaltado */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);       /* efecto zoom ligero */
}


.container-feed {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 90px);
}

.container-feed label {
    margin-left: 20px;
}

.monto,
.descripcion,
.hora,
.cliente{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #d2d1d1e9;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
    max-width: 150px;
}

